<h1>Eat Da Burger</h1>

<ul>
  {{#each burgers}}
      <li>
        {{this.burger_name}}

        <form action="cats/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>
        <form action="/cats/delete/{{this.id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Delete CAT!</button>
        </form>
      </li>
  {{/each}}
</ul>

<h2>What burger do you have in mind?</h2>
<form class="create-update-form" action="burger/create" method="POST">

  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add a Bur-GER</button>
</form>
